.App .Demos {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  background-color: black;
  justify-content: center;
}
.App h1 {
  color: white;
  font-size: 68px;
  text-align: center;
  padding-top: 2rem;
  margin: 0;
  font-weight: 400;
}
.App .Demos > div {
  margin-left: 4rem;
  margin-top: 4rem;
}
